:root{
  --primary--color: rgb(47, 161, 133);
}

body{
  margin: 0;
  padding: 0;
}

/* Navbar starts */

.logo{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: black;
  &:hover{
    transition: color 0.5s ease-in-out;
    color: aquamarine;
  }
}

.navbar{
  background-color: var(--primary--color);
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}

.navlinks{ 
  display: flex;
  gap: 30px;
}

.navlinks a{
  text-decoration: none;
  color: black;
  &:hover{
    transition: color 0.5s ease-in-out;
    color: aquamarine;
  }
}

/* Navbar style ends */

/* Blog style */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 87px);
  width: 100%;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary--color);
  width: 50%;
  height: 80%;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input{
  height: 5vh;
  border-radius: 10px;
  border: none;
}

.form textarea{
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.form button{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: aquamarine;
  color: var(--primary--color);
  font-size: 20px;
  margin: 10px 0px;
  &:hover{
    cursor: pointer;
    color: rgb(41, 97, 83);
  }
}

/* Blog style ends */

/* AdminLogin page */

.admin-login {
  max-width: 400px;
  min-height: 320px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color:var(--primary--color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: aquamarine;
}

/* AdminLogin page ends */

/* Admin Dashboard page */

.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  color: var(--primary--color);
}

.options{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  font-weight: 600;
  color: black;
  height: calc(100vh - 172px);
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100px;
  width: 200px;
  color: black;
  cursor: pointer;
  background-color: var(--primary--color);
  padding: 20px;
  border-radius: 20px;
  border: none;
  &:hover{
    color: aquamarine;
    transition: color 0.5s ease-in-out;
  }
}

.dashboard{
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.dashboard-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Admin Dashboard page ends */

/* Card component */

.card{
  width: 60%;
  min-height: 120px;
  background-color: var(--primary--color);
  margin-top:40px;
  margin-bottom: 10px;
  padding: 30px 100px;
}

.btn{
  display: flex;
  background-color: #ccc;
  width: auto;
  padding: 12px;
  color: black;
  font-weight: 600;
}

/* Card component ends */

/* Home page */

.home{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Home page ends */