body{
  margin: 0;
  padding: 0;
}

.logo{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    transition: color 0.5s ease-in-out;
    color: aquamarine;
  }
}

.navbar{
  background-color: rgb(47, 161, 133);
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}

.navlinks{
  display: flex;
  gap: 30px;
}

.navlinks a{
  text-decoration: none;
  color: black;
  &:hover{
    transition: color 0.5s ease-in-out;
    color: aquamarine;
  }
}